.header {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-title {
  margin: 0 auto;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 5vw;
  font-weight: bold;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.5vw;
}

.prompt {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 3vw;
  font-weight: bold;
  margin: 15vh;
}

.inter-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3vh;
}

.tags-container {
  max-width: 15vw;
}

