.header {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.header-title {
  margin: 0 auto;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 5vw;
  font-weight: bold;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.5vw;
}
